@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 207 207 211;
  --foreground-rgb: 160 160 167;
  --background-rgb: 15 15 16;
  --background-100-rgb: 24 24 26;

  --sh-identifier: #c4c4c4;
  --sh-keyword: #e24236;
  --sh-string: #ce7227;
  --sh-class: #6f66e5;
  --sh-property: #4e8fdf;
  --sh-entity: #6eafad;
  --sh-jsxliterals: #bf7db6;
  --sh-sign: #8996a3;
  --sh-comment: #a19595;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}
